@using EasyFitHub.Models.Account
@model User
@*
    AUTHOR: Gonçalo V.
    View usada para Mudar a password de uma conta
*@
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ChangePassword.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontsource-inter@4">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap">
</head>


<body>
    <div class="hero">
        <div class="form-box">
            <div class="conteudo">
                <h1>Change Password</h1>
                <h4>Please confirm your password before putting a new one</h4>
            </div>

            <form method="post" action="@Url.Action("ChangePassword", "Authentication")">
                <div class="form-group">
                    <input type="hidden" name="userId" value="@ViewData["UserId"]" />
                    <input type="password" name="oldPassword" placeholder="Current Password" class="textBox form-control" />
                    <input type="password" name="newPassword" placeholder="New Password" class="textBox form-control" />
                </div>

                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <a href="@Url.Action("Index", "Home")" class="btn-primary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</body>

@if (TempData["ResultMessage"] != null)
{
    <script>
        window.onload = function () {
            alert('@TempData["ResultMessage"]');
        };
    </script>
}
