@using EasyFitHub.Models.Account
@model User
@*
    AUTHOR: Gonçalo V.
    View usada para recuperar uma password esquecida
*@
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/css/ChangePassword.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fontsource-inter@4">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Istok+Web&display=swap">
</head>


<body>
    <div class="hero">
        <div class="form-box">
            <div class="conteudo">
                <h1>Password Recovery</h1>
                <h4>Please confirm your email and we will send you a reset link for your passowrd</h4>
            </div>

            <form method="post" action="@Url.Action("ChangePasswordWithCode", "Authentication")">
                <div class="form-group" style="margin-top:50px">
                    <input type="text" placeholder="UserName" name="userName" class="textBox form-control" />
                    <input type="text" placeholder="Code" name="code" class="textBox form-control" />
                    <input type="password" placeholder="Password" name="password" class="textBox form-control" />
                    <input type="password" placeholder="Confirm Password" name="confirmPassword" class="textBox form-control" />
                </div>
                
                <div class="form-button">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <a href="@Url.Action("Index", "Home")" class="btn-primary">Cancel</a>
                </div>
                <br />
            </form>
        </div>
    </div>
</body>

@if (TempData["ResultMessage"] != null)
{
    <script>
        window.onload = function () {
            alert('@TempData["ResultMessage"]');
        };
    </script>
}
